<style>
body{font-family:roboto condensed}
*{margin:0px;padding:0;}
img{max-width=100%}
section{padding:50px 0px;background:white}
.headerArea{}  
.headerArea h1{}
.container{width:1140px;margin:auto;padding:0px 10px;}
.container .logo{width:200px;}
.header_inner{color:white;border-bottom:5px solid tomato;display:table}
.header_left{width:200px;float:left;}
.header_right{width:900px;float:right;}
.header_right ul{list-style:none;margin:0;padding:0;float:right;margin-top:20px;}
.header_right ul li{display:inline-block;line-height:40px}
.header_right ul li a{font-size:22px;text-decoration:none;padding:10px 15px;text-transform:uppercase;color:#333;transition:all 1.10s;}
.header_right ul li a:hover{background:blue;color:white;border-radius:4px;}
.service_title {
	text-align:center;
	margin-top:50px
}
.service_title h2 {
    display: inline-block;
    border-bottom: 3px solid tomato;
    border-bottom-left-radius: 10px;
    font-size: 35px;
    border-right: 3px solid tomato;
    border-left: 2px solid tomato;
    padding: 0 5px;
    border-bottom-right-radius: 10px;
}

section#homebanner{}
section#homebanner img{height:450px;width:100%}
.section_title{text-align:center;}
.section_title h1{font-size:40px}



.LoginBox {
    text-align: center;
    margin: 15px;
    line-height: 3;
}
.marquee {
    background: tomato;
}
.LoginBox input{width:100%;padding:15px;
	
	
	
}

form {
    margin: 20px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 15px;
}


.loginBody {
    width: 100%;
    background: #e0dada;
text-align: center;
    margin: 0px;
    line-height: 3;
	
	input[type="submit"] {
    background: wheat;
}

input[type="submit"] {
    margin-top: 11px;
}

marquee {
    margin-bottom: 31px;
}

strong {width: 11px;}

strong {
    margin-top: 20px;
}

input[type="email"] {
    margin-top: 11px;
}



}
</style>